# pixi environments
.pixi/*
!.pixi/config.toml
*.pyc
archive/*
.vscode/*
.env
app/*
circulax_workspace.code-workspace
docs/references/
*code-workspace
site/*
docs/examples/*_files
docs/images/lcr_animation.gif
docs/examples/*.gif
examples/**/*.gif
circulax/_version.py
debug_scripts/
cmz_optimisation.gif
